.App {
  text-align: left;
  background-color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #6CBF84;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body, html {
    height: 100%;

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  font-family: Arvo; 
  display: inline;
  margin-right: 500px; 
}

ion-icon {
  font-size: 30px;  
  text-align: left;
  margin-right: 10px;
}

p {
  text-align: left;
}
